<phpunit bootstrap="./TestHelper.php" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuite name="Zend Framework - Testsuite">
        <directory>./</directory>
    </testsuite>
<!--    <logging>-->
<!--        <log type="testdox-text" target="php://stdout"/>-->
<!--    </logging>-->
    <!-- Enable this for proper unit testing code coverage reports
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Zend</directory>
        </whitelist>
    </filter>
    -->
</phpunit>
